<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.dao.WxUserDao">

    <select id="getUserByName" parameterType="java.lang.String" resultType="com.bs.support.vo.WxUser">
        select * from  wx_user where  username =#{name}
    </select>
    <select id="getPermisionByUserId" parameterType="java.lang.Integer" resultType="com.bs.support.vo.WxPermission">
        select * from  wx_permission p where p.id in(
           select rp.permission_id from wx_role_permission_relation rp where rp.role_id  in
          (select ur.role_id from  wx_user_role_relation ur WHERE ur.user_id =#{userId})
           UNION
           SELECT up.permission_id  from wx_user_permission_relation up WHERE up.type=1 and up.user_id=#{userId}
        )
        and p.id not in(
       SELECT up.permission_id  from wx_user_permission_relation up WHERE up.type=-1 and up.user_id=#{userId}
        )
    </select>

    <!--注册的时候查询注册的用户是否存在-->
    <select id="judgeUserIsExist" resultType="com.bs.support.vo.LoginParams" parameterType="com.bs.support.vo.LoginParams">
        select *from wx_user where username=#{username}
    </select>
    <!--注册-->
    <insert id="register" parameterType="com.bs.support.vo.LoginParams" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO wx_user
        (username,password,status,create_time)
        VALUES  ( #{username},#{password},1,now())
    </insert>
    <!--注册的时候给用户一个普通用户的角色-->
    <insert id="setRole" parameterType="com.bs.support.vo.LoginParams">
        INSERT INTO wx_user_role_relation
        (user_id,role_id)
        VALUES  ( #{id},3)
    </insert>
    <select id="isUseful" parameterType="com.bs.support.vo.LoginParams" resultType="User">
        select status from wx_user where username=#{username}
    </select>
</mapper>